@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
#menu-bar {
  display: none;
}
#menu-bar.show {
  display: block;
}

.title::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: #f15a24;
}
.contant-box {
  border-color: #f15a24 !important;
}
.pop{
  display: none;
}
.news-box .button a img {
  width: 30px;
  transition: all 0.5s ease-in-out;
}
.news-box .button a:hover img {
  width: 60px;
  transition: all 0.5s ease-in-out;
}
.inner-box {
  box-shadow: -1.53081e-15px 25px 25px rgba(0, 56, 115, 0.14902);
}
.box-img {
  width: -webkit-fill-available;
}
.latest-news .inner-box::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  right: 0px;
  bottom: 0px;
  background-color: #f15a24;
}
.view-more-btn a {
  position: relative;
  overflow: hidden;
  transition: 0.8s all;
  width: 240px;
  height: 80px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-more-btn a:hover {
  color: #fff !important;
  transition: 0.8s all;
}
.view-more-btn a:before,
.view-more-btn a::after {
  position: absolute;
  content: "";
  background: #1e3d59;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.view-more-btn a:before {
  left: -10px;
}
.view-more-btn a:after {
  right: -10px;
}
.view-more-btn a:hover:before {
  animation: animationLeft10 0.5s both;
}
.view-more-btn a:hover:after {
  animation: animationRight10 0.5s both;
}
@keyframes animationRight10 {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes animationLeft10 {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.custom-collapse:not(.show) {
  display: block !important;
}
 .custom-collapse {
  margin-bottom: 24px;
}

 .custom-collapse h3 .position {
  position: absolute;
  top: -5px;
  right: 0px;
}
 .custom-collapse h3.active .plus:before {
  opacity: 0;
  transition: all .5s ease-in-out;
}
 .custom-collapse h3 .plus {
  width: 30px;
  height: 3px;
  background-color: #003873;
  display: inline-block;
  position: relative;
  transition: all .5s ease-in-out;
}
.custom-collapse h3.active .plus{
  background-color: #f15a24;
  transition: all .5s ease-in-out;
}
 .custom-collapse h3 .plus:before {
  position: absolute;
  content: "";
  background-color: #003873;
  width: 30px;
  height: 3px;
  top: 0px;
  left: 0px;
  transform: rotate(90deg);
  transition: all .5s ease-in-out;
}
.custom-collapse h3.active{
  color: #f15a24;
  transition: all .5s ease-in-out;
}
footer::after{
  position: absolute;
  content: '';
  width: 525px;
  height: 226px;
  background-image: url(../image/fotter-vector.png);
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 1;
}
.main-logo-mobile{
  display: none;
}
label{
  font-size: 10px;
  display: block;
}
input{
  border-bottom: 1px solid #f15a24 ;
  display: block;
  width: 100%;
  background-color: #f8f9fb;
}

.blog-title h2{
  display: inline-block;
}
.blog-title h2::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80%;
  height: 2px;
  background-color: #f15a24;
  
}
.blog-slider::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 60%;
  background-color: #F2F2F2;
  z-index: -1;
}
.slick-prev:before, .slick-next:before{
  color: #f15a24 !important;
}
.slick-next{
  right: -10px !important;
}
.slick-prev{
  left: -10px !important;
  z-index: 1;
}
.nav-box ul li a.active ,.nav-box ul li.active button{
  color: #f15a24 !important;
}
.nav-box ul li a:hover{
  color: #f15a24 !important;
  transition: all .5s ease-in-out;
}
.nav-box ul li a{
  transition: all .5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .navbar-box {
    position: relative;
    display: block !important;
    background:#ffffff !important;
    color: #003873;
    padding: 15px 30px !important;
  }
  .mobile .blog-slider{
    margin-top: 0px !important;
  }
  .main-logo-mobile{
    display: block;
  }
  .mobile .main-logo-mobile{
    display: none;
  }
  .menu-box {
    display: block !important;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
  .menu-box span {
    height: 4px;
  }
  .nav-box {
    display: none !important;
    margin-top: 30px;
  }
  .mobile {
    overflow: hidden;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 99;
    width: 100%;
  }
  .top-header{
    display: none ;
  }
  .mobile .top-header{
    display: block;
  }
  .mobile .nav-box {
    display: block !important;
  }
  .mobile header {
    height: 100vh;
    overflow: scroll !important;
  }
  #menu-bar.show {
    display: block;
    margin-bottom: 10px;
  }
  .mobile .menu-box {
    top: 50px;
  }
  .mobile .social-box a{
    display: inline-block;
    margin-right: 15px;
  }
  .nav-box ul {
    display: block !important;
  }
  .social-box{
    display: none !important;
  }
  .mobile .social-box{
    display: block !important;
  }
  .nav-box ul {
    margin-bottom: 0px;
  }
  .mobile .nav-box ul li a,.menu-button{
    color: #003873 !important;
  }
  .nav-box ul li ,.nav-box ul .menu-button {
    margin: 0px 0px 10px 0px !important;
  }
  .nav-box ul li .appointment-btn {
    display: inline-block;
  }
  .mobile .menu-box span:first-child {
    transform: rotate(45deg);
    position: absolute;
    top: 9px;
    transition: all ease-in-out 0.5s;
  }
  .mobile .menu-box span:last-child {
    transform: rotate(135deg);
    transition: all ease-in-out 0.5s;
  }
  .mobile .menu-box span:nth-child(2) {
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
  .menu-box span {
    transition: all ease-in-out 0.5s;
  }
  #menu-bar.show{
    position: static !important;
    margin-top: 0px !important;
  }
  button#menu-button{
    justify-content: left;
  }
  .amruta{
    margin-top: 170px !important;
  }
  .mobile .amruta{
    margin-top: 0px !important;
  }
  .mobile .serviuce-banner{
    margin-top: 0px !important;
  }
  .mobile .contact{
    margin-top:0px !important;
  }
}
@media screen and (max-width: 767px) {
  .amruta{
    margin-top: 120px !important;
  }
  h1{
    margin-left: 40px !important;
  }
  a{
    font-size: 17px !important;
    text-align: center !important;
  }
  .contact .container{
    width: 100% !important;
  }
  .slide-box h1 {
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 640px) {
  .container{
    padding: 0px 20px !important;
  }
  .contact .container{
    padding: 60px !important;
    width: 80% !important;
  }
  .contact h1{
    margin: 0px !important;
  }
  .bannner{
    padding-top: 60px !important;
  }
  .contact-us{
    width: 60% !important;
    margin: 0 auto;
  }
  .contact-us .container .inner-box{
    flex-direction: column;
  }
  .contact-us .container .inner-box .box{
    width: 100%;
  }
  .contact-us .container .inner-box .border-box{
    border-top: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
    border: none ;
  }
  .contact-us h1{
    margin-left: 0px !important;
  }
  h1{
    margin-left: 32px !important;
  }
  footer::after{
  width: 50px !important;
  }
  .view-more-btn a {
    position: relative;
    overflow: hidden;
    transition: 0.8s all;
    width: 130px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0px !important;
  }
  .custom-collapse h3 .plus,.custom-collapse h3 .plus::before  {
    width: 20px;
  }
  .blog-slider::after{
    height: 110%;
    top: -20px;
  }
}
@media screen and (max-width: 460px) {
   P,FOOTER SPAN,a{
    font-size: 14px !important;
    text-align: center !important;  
  }
 
  .contact .container{
    width: 90% !important;
    padding: 30px !important;
  }
  footer::after{
    width: auto !important;
  }
  .amruta{
    margin-top: 70px !important;
  }
}

.pop-a{
  display: none;
  overflow-y: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50% ,-50%);
}

.pop-a.open{
  display: block;
}
body.pop-a{
  height: 100vh;
  overflow-y: hidden;
}
.btn-primary{
  border: none !important;
}
.btn-primary:hover{
  background-color: #f15a24 !important;
}
.modal-dialog{
  top: 50% ;
  transform: translateY(-50%) !important;
}